@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-gray-800 dark:text-gray-100 bg-background-light dark:bg-background-dark transition-colors duration-300;
  }
}
